.navbar {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0px 3px 5px -1px rgba(212, 201, 198, 1);
  -webkit-box-shadow: 0px 3px 5px -1px rgba(212, 201, 198, 1);
  -moz-box-shadow: 0px 3px 5px -1px rgba(212, 201, 198, 1);

  .navbar-header {
    a {
      font-family: "Pacifico", cursive;
      font-size: clamp(1.5rem, 2.5vw, 2.5vw);
      color: #5f5f5f;
      margin: 0px 120px;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .nav-links {
    display: flex;
    gap: 10px;
    margin: 0px 120px;

    a {
      font-family: "Poppins", sans-serif;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      padding: 10px 15px;
      color: #000000;

      &:hover {
        opacity: 0.6;
      }

      &:nth-child(2) {
        background-color: #f8bfc8;
        border-radius: 50px;
      }
    }
  }
}

@media only screen and (width <= 788px) {
  .navbar {
    .navbar-header a,
    .nav-links {
      margin: 0px 50px;
    }
    .nav-links {
      gap: 5px;
    }
  }
}
@media only screen and (width <= 498px) {
  .navbar {
    .navbar-header a,
    .nav-links {
      margin: 0px 15px;
    }

    .nav-links {
      a {
        padding: 10px 10 px;
      }
    }
  }
}
