@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');


* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  color: #5f5f5f;
  background-color: #F8F8F8;
  font-size: 1rem;

}

::placeholder {
  color: #8F8F8F;
  font-family: 'Poppins';
}

.content {
  margin-top: 100px;
  max-width: 900px;
  margin: 100px auto;
  padding: 20px;
}

.date {
  color: #8F8F8F;
  font-size: 0.9rem;
  line-height: 0;
  margin-bottom: 30px;
}